#result {
    display: none;
  }

  body{

    background-attachment: fixed;
  }

  h1 {
    color: purple;
  }

  h2 {
    font-style: italic;
    color: blue;
  }

  p {
    color: darken;
  }

  h3 {
    color:black
  }

  body {
    background-color: green;
    font-family: sans-serif;
    text-align: justify;
  }

  .test-box1 {
    border-left:  44px solid white;
    border-right: 44px solid white;
    border-top:  12px solid white;
    border-bottom: 12px solid white;
    background-color: mediumSeaGreen;
    float: left;
  }
  .test-box2 {
    border-left:  25px solid white;
    border-right: 22px solid white;
    border-top:  25px solid white;
    border-bottom: 22px solid white;
    background-color: tomato;
    float: right;
  }*/
